In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_excel('housing_prices_California.xlsx')

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,83252.0,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,83014.0,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,72574.0,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,56431.0,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,38462.0,342200.0,NEAR BAY

In [4]:
X = df[['median_income', 'total_rooms', 'housing_median_age']]
y = df['median_house_value']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=False, test_size=0.3)

In [6]:
param_grid = {
'C': [0.1, 1],
'gamma': ['scale', 'auto'],
'kernel': ['linear']
}

# Melhor combinação de parâmetros

In [ ]:
 # Executar pesquisa em grade com validação cruzada
grid_search = GridSearchCV(SVR(), param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)
print(f'Best hyperparameters: {grid_search.best_params_}')

In [ ]:
# Prever no conjunto de teste usando o melhor modelo encontrado
best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test)
# Avaliar o modelo
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')